* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}
.container {
	padding: 50px;
	min-width: 1100px;
}
.calc {
	width: 20%;
	background-color: royalblue;
	margin: 0 auto;
	border: 1px solid black;
}

.calc-row1 div {
	font-size: 22px;
	background-color: rgb(108, 146, 124);
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calc-row1, .calc-row2, .calc-row3, .calc-row4, .calc-row5, .calc-row6{
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.calc-row2 button, .calc-row3 button, .calc-row4 button, .calc-row5 button, .calc-row6 button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee;
	width: 25%;
	height: 50px;
	/* border: 1px solid black; */
	cursor: pointer;
}

.calc-row2 button:hover, .calc-row3 button:hover, .calc-row4 button:hover, .calc-row5 button:hover, .calc-row6 button:hover {
	transition: .3s all ease;
	background-color: rgb(193, 211, 200);
	box-shadow: 3px 3px 10px rgba(0,0,0,1);
}

.calc-addition.active, .calc-subtraction.active, .calc-multiplication.active, .calc-buttonision.active {
	background-color: rgb(240, 154, 138);
}